/* Reset some default styling */
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.navbar {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
  }
  
  .nav-link:hover {
    color: darkcyan !important;
  
  }
  
  .nav-link a {
    font-size: 14px;
    font-weight: 700
  }
  
  .dropdown-item:hover {
    color: darkcyan !important;
  
  }
  
  .dropdown-item {
    color: black !important;
    background-color: white !important;
    font-weight: 500 !important;
  }
  
  .navbar {
    height: auto;
  
  }
  
  .navbar-brand img {
    height: 80px;
    width: 70px;
  }
  
  /*----------------------------------navbar end-------------------------------------------*/
  
  /*-------------------------------footer start--------------------------------------------*/
  footer {
    font-family: 'Poppins', sans-serif;
  }
  
  footer img {
    height: 100px;
    width: fit-content;
  }
  
  .list-unstyled a:hover {
    color: darkcyan !important;
  
  }
  /*------------------------------------------footer end---------------------------------*/

  
.butn{
    background-color: darkcyan;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

  #about{

    padding: 40px 30px ;
 } 